:root {
    --main-bg: #252525;
    --white-color: #ffffff;
    --icon-color: #dbdbdb;
    --highlight: #3b3b3b;
    --pink: #ffab91;
    --yellow: #ffcc80;
    --lemon: #e8ed9b;
    --purple: #d094da;
    --blue: #82deeb;
}